{% extends "base.html" %}

{% block title %}About Us - Foodies' Paradise{% endblock %}

{% block content %}
    <section id="about">
        <div class="about-wrapper container">
            <div class="about-text">
                <p class="small">About Us</p>
                <h2>Here we are to provide you with tasty and healthy recipes</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam modi ad repellendus ullam officiis vel nobis nulla veniam. Dicta iure quo, fugiat quos accusamus velit quas voluptates eaque neque amet!</p>
            </div>
            <div class="about-img">
                <img src="{{ url_for('static', filename='img/main.jfif') }}" alt="About Us">
            </div>
        </div>
    </section>
{% endblock %}
