{% extends "base.html" %}

{% block title %}Cuisines - Foodies' Paradise{% endblock %}

{% block content %}
    {% if cuisines %}
        <section id="cuisines">
            <h2>Explore {{ category_name }} Cuisines 
                <i class="fas fa-utensils"></i>
            </h2>
            <div class="cuisine-container container">
                {% for cuisine in cuisines %}
                    <div class="cuisine-type" data-cuisine-id="{{ cuisine.cuisine_id }}">
                        <div class="img-container">
                            <img src="{{ url_for('static', filename=cuisine.cuisine_image.split('static/')[-1]) }}" alt="{{ cuisine.cuisine_name }}">
                        </div>
                        <div class="cuisine-details">
                            <a href="{{ url_for('show_food_items', cuisine_id=cuisine.cuisine_id, category_id=category_id) }}">
                                {{ cuisine.cuisine_name }}
                            </a>
                            <!-- Check if cuisine is in liked_items and change class accordingly -->
                            <span class="like-btn {% if cuisine.cuisine_id in liked_items %}liked{% endif %}" data-item-id="{{cuisine.cuisine_id }}"data-item-type="cuisine">
                                <i class="fas fa-heart"></i> <!-- Ensure the icon is inside span -->
                            </span>

                        </div>                   
                    </div>
                {% endfor %}

            </div>
        </section>
    {% else %}
        <p>No cuisines available for {{ category_name }}.</p>
    {% endif %}

    
    

{% endblock %}