{% extends "base.html" %}

{% block title %}Home - Foodies' Paradise{% endblock %}

{% block content %}
    <section class="title-area" id="title">
        <div class="title-container">
            <h1 class="main-title">Welcome to Food Paradise</h1>
            <p>Eat healthy, eat tasty, and live wealthy.</p>
        </div>   
    </section>
    <section id="search-bar">
        <div class="search-container container">
            <!-- Search Bar -->
            <div class="search-container">
                <input type="text" id="search-input" placeholder="Search here..." oninput="performSearch()">
                <button onclick="performSearch()">Search</button>
            <div id="search-results"></div>
        </div>
  
        </div>
    </section>

    <section id="food">
        <h2></h2>
        <div class="category-container container">
            {% for category in categories %}
            <div class="food-box">
                <a href="{{ url_for('show_cuisines', category_id=category.category_id) }}" class="category-link">
                    <h3>{{ category.category_name }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    
        
{% endblock %}
