{% extends "base.html" %}

{% block title %}{{ recipe.food_name }} - Recipe{% endblock %}

{% block content %}
<section id="recipe">
    <div class="recipe-container container">
        <h2>Recipe for {{ recipe.food_name }}<span class="like-btn {% if recipe.food_id in liked_items %}liked   {%endif %}" 
            data-item-id="{{recipe.food_id }}" data-item-type="recipe">
          <i class="fas fa-heart"></i>
  </span></h2>
        <div class="recipe-content">
            <div class="recipe-details">
                <div class="ingredients">
                    <h3>Ingredients <i class="fas fa-utensils ingredients-icon"></i></h3>

                    <ol>
                        {% for ingredient in recipe.recipe_ingredients.split(', ') %}
                            <li><i class="fas fa-caret-square-right"></i>{{ ingredient.strip() }}</li>
                        {% endfor %}
                    </ol>
                </div>
                <div class="instructions">
                    <h3>Instructions<i class="fas fa-user-tie"></i></i></h3>
                    <p>{{ recipe.recipe_instructions }}</p>
                </div>
            </div>

            <div class="recipe-image">
                <img src="{{ url_for('static', filename=recipe.food_image.replace('static/', '')) }}" 
                     alt="{{ recipe.food_name }}">
            </div>
        </div>
    </div>
</section>
{% endblock %}
